<section id="{{ art.objectNumber }}">
    <h1>Details</h1>
    <nav>
        <a href="{{ backLink }}">Go back</a>
        <a href="{{externalLink}}" target="_blank">Rijksmuseum </a>
    </nav>
    <article>
        <h1 tabIndex="0">{{art.title}}{{msg}}</h1>
        <div style="{{style}}">
            <img tabIndex="0" src="{{image}}" alt="{{alt}}">
            <p>{{art.longTitle}}</p>
            <button class="loading">{{saveButtonIcon}}</button>
        </div>
    </article>
</section>