<section>
    <h1>Details</h1>
    <nav>
        <a href="/">Back to home</a>
        <a href="{{external_link}}" target="_blank">Rijksmuseum </a>
    </nav>
    <article>
        <h1 tabIndex="0">{{art.title}}{{msg}}</h1>
        <div style="{{style}}">
            <img tabIndex="0" src="{{image}}" alt="{{alt}}">
            <p>{{art.longTitle}}</p>
            <button>{{saveButtonIcon}}</button>
        </div>
    </article>
</section>