{{#if hasItems}}
    <ul>
        {{#each cards}}
            <li class="loaded">
                <article>
                    <a href="/art-piece/{{ objectNumber }}">
                        <h3>{{title}}</h3>
                        <object data="{{ smallImg }}" type=“image/jpeg” aria-labelledby="Rijksmuseum logo as fallback image">
                            <img src="/images/rijksmuseum-logo.jpg" alt="Rijksmuseum logo as fallback image" />
                        </object>
                        {{!-- <img src="{{smallImg}}" alt="{{alt}}" loading="lazy"> --}}
                    </a>
                    <button tabIndex="-1" class="{{ showOptions.class }}">
                        {{showOptions.text}}
                        <span>
                            Make sure javascript is enabled to save art pieces.
                        </span>
                    </button>
                </article>
            </li>
        {{/each}}
    </ul>

    <div id="pagination">
        {{#if firstPage}}
            <a href="/?page={{ nextPage }}">
                Load more
            </a>
        {{else}}
            <a href="/?page={{ prevPage }}">
                Previous page
            </a>
            <a href="/?page={{ nextPage }}">
                Next page
            </a>
        {{/if}}
    </div>
{{/if}}

